@tailwind base;
@tailwind components;
@tailwind utilities;

 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
/* custom class to give full viewport for sections*/

@layer utilities {
    .section-min-height {
        /* 100vh - height of the header*/
       min-height: calc(100vh - 64px);
    }
    .max-w-8xl {
      max-width: 1440px;
    }
    .sectionHeight {
     height: calc(100vh - 60px)
    }  
}

/* then need to put it in tailwind.config file*/
}
